---
import Layout from "@/layouts/Layout.astro";
import OurWorkTitle from "@/components/OurWorkTitle.astro";
import WorkVideo from "@/components/WorkVideo.astro";
import { Scissors } from "lucide-react";
---

<Layout>
  <main
    class="min-h-screen py-24 px-4 relative text-white w-full max-w-[100vw] flex flex-col"
  >
    <OurWorkTitle
      title="barbershops"
      description="Clean visuals. Bold branding. We showcase your craft with videos and photos that capture attention and bring in new clients."
      icon={Scissors}
    />
    <div class="relative z-20">
      <div
        class="grid grid-cols-1 md:grid-cols-2 videos flex flex-col justify-center items-center gap-6 items-stretch"
      >
        <WorkVideo src=`${import.meta.env.AWS_URL_SERVICES}/mp4/barber1.mp4` />
        <WorkVideo src=`${import.meta.env.AWS_URL_SERVICES}/mp4/barber2.mp4` />

        <WorkVideo src=`${import.meta.env.AWS_URL_SERVICES}/mp4/barber3.mp4` />

        <WorkVideo src=`${import.meta.env.AWS_URL_SERVICES}/mp4/barber4.mp4` />

        <WorkVideo src=`${import.meta.env.AWS_URL_SERVICES}/mp4/barber5.mp4` />
        <WorkVideo src=`${import.meta.env.AWS_URL_SERVICES}/mp4/barber6.mp4` />
      </div>
    </div>
  </main>
</Layout>
