---
import Layout from "@/layouts/Layout.astro";
import { Utensils } from "lucide-react";
import OurWorkTitle from "@/components/OurWorkTitle.astro";
import WorkVideo from "@/components/WorkVideo.astro";
---

<Layout>
  <main
    class="min-h-screen py-24 px-4 relative text-white w-full max-w-[100vw] flex flex-col gap-8"
  >
    <OurWorkTitle
      title="restaurants"
      description="Content that makes people crave. We create viral food videos, manage your delivery apps, and boost your online visibility."
      icon={Utensils}
    />
    <div class="z-20 w-full mx-auto">
      <div class="videos gap-6 mx-auto grid grid-cols-1 md:grid-cols-2">
        <WorkVideo
          src={`${import.meta.env.AWS_URL_SERVICES}/mp4/comida7.mp4`}
        />
        <WorkVideo
          src={`${import.meta.env.AWS_URL_SERVICES}/mp4/comida8.mp4`}
        />
        <WorkVideo
          src={`${import.meta.env.AWS_URL_SERVICES}/mp4/comida1.mp4`}
        />

        <WorkVideo
          src={`${import.meta.env.AWS_URL_SERVICES}/mp4/comida3.mp4`}
        />
        <WorkVideo
          src={`${import.meta.env.AWS_URL_SERVICES}/mp4/comida4.mp4`}
        />
        <WorkVideo
          src={`${import.meta.env.AWS_URL_SERVICES}/mp4/comida5.mp4`}
        />
        <WorkVideo
          src={`${import.meta.env.AWS_URL_SERVICES}/mp4/comida2.mp4`}
        />
        <WorkVideo
          src={`${import.meta.env.AWS_URL_SERVICES}/mp4/comida6.mp4`}
        />
      </div>
    </div>
  </main>
</Layout>

<style>
  video {
    transition: transform 0.2s ease-in-out;
  }

  video:hover {
    transform: scale(1.02);
  }
</style>
